.header__logo{
    width: 142px;
    height: 33px;
    object-fit: cover; 
}
@media screen and (max-width: 650px){
    .header__logo{
        margin-left: 27px;
    }
}
@media screen and (max-width: 400px){
    .header__logo{
        width: 103.74px;
        height: 24.4px;
        margin-left: 27px;
        margin-bottom: 31.6px;

    }
} 