.profile__info{
    display: grid;
    gap: 16px;
    padding-left: 30px;
    align-content: center;
}

@media screen and (max-width: 650px){
    .profile__info{
        padding: 22.5px 0px 36px 0px;
    }
}
@media screen and (max-width: 400px){
    .profile__info{
        gap: 14px;
    }
}