.element-item__image{
    width: 100%;
    height: 282px;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}
.element-item__image:hover{
    opacity: 0.5; 
}