.profile{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    padding-top: 40px;
    
}

@media screen and (max-width: 650px){
    .profile{
        flex-direction: column;
        padding-top: 42px;
    }
}
