.element-item__heart{
    width: 22px;
    height: 19px;
    background-image: url(../../../images/Vector3.svg);
    background-color: transparent;
    background-size: 22px 19px;
    background-repeat: no-repeat;
    border-style: none;
    cursor: pointer;
}
.element-item__heart:hover{
    opacity: 0.5; 
}