.footer__title{
    font-family:'Inter','Arial', sans-serif;
    font-style:normal;
    font-weight:400;
    font-size:18px;
    line-height:22px;
    color:#545454;
    padding: 0px;
    margin: 0px;
}
@media screen and (max-width: 650px){
    .footer__title{
        margin-left: 25px;
    }
}
@media screen and (max-width: 400px){
    .footer__title{
        margin-left: 0px;
        font-size:14px;
        line-height:17px;
    }
}