.content{
    display: flex;
    flex-direction: column;
    gap: 51px;
    box-sizing: border-box;
    max-width: 880px;
    margin: 0 auto;
}

@media screen and (max-width: 900px){
    .content{
        padding:0px 20px;
    }
}

@media screen and (max-width: 650px){
    .content{
        padding: 0px 19px;
        gap: 36px;
    }
}